<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <a target="_blank" href="http://www.sistemagestcom.com.br">Gestcom</a>
    </div>
    <!-- Default to the left -->
    Sistema recebimento de contas online | Todos os direitos reservados à empresa desenvolvedora.
  </footer>